@import url('https://fonts.googleapis.com/css2?family=Inter&family=Overpass&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #FFF;
}
:root{
    --font-text: 20px;
    --font-title: 25px;
    --font-footer: 18px;
    --padding-header: 2rem 8rem;
    --padding-title: 6rem 0rem 1rem 8rem;
    --padding-article:0 5rem;
    --padding-section: 4rem; 
    --padding-footer: 2rem 8rem;
    --margin-section: 0px 8rem;
    --margin-article: 1rem;
    --margin-li: 20px 0;
    --margin-carousel: 5rem 0;
    --margin-footer: 4rem;
    --margin-span: 5rem 0;
    --height-carousel:32rem;
    --left-article:50%;
    --left-card: 15%;
    --width-article:35%;
    --width-cards: 15%;
    --width-art:50%;
    --display-article:flex;
}

body {
    background-color: #2D2D2D;
}

.title, .main-title {
    font-size:  var(--font-title);
}

.title {
    color: #D8E9A8;
}

header {
    background-color: #191A19;
    padding: var(--padding-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: var(--font-text);
    text-decoration: none;
    transition: 0.5s;
}

header a:hover {
    color: #D8E9A8;
}

section.nosso-projeto, .quem-somos, .contatos,.problematica {
    background-color: #191A19;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:var(--padding-section);
    margin: var(--margin-section);
}

main .nosso-projeto-title, .quem-somos-title, .contatos-title, .problematica-title {
    padding: var(--padding-title);
}
section div.article{
    display: var(--display-article);
    flex-direction: row;
    margin: var(--margin-article);
}
section div.art{
    width: var(--width-art);
    display: grid;
    padding: var(--padding-article);
}
section div.art h2{
    font-size: var(--font-title);
    text-align: center;
    color: #D8E9A8;
    margin: var(--margin-article);
}
section div.art p{
    text-align: justify;
    font-size: var(--font-text);
}
section.problematica span{
    color: #D8E9A8;
    font-size: var(--font-text);
    text-align: center;
}
section.problematica > span{
    margin:var(--margin-span);

}
section.nosso-projeto h2 {
    color: #D8E9A8;
    margin: var(--margin-article) 0rem;
}

section.nosso-projeto h2, p, p span {
    font-size: var(--font-text);
    text-align: center;
}

section.nosso-projeto p span {
    color: #4E9F3D;
    font-size: var(--font-text);
}

section div.carousel{
    height: var(--height-carousel);
    margin: var(--margin-carousel);
}
section div.container input[type=radio] {
    display: none;
}
section label.card {
    position: absolute;
    width:var(--width-cards);
    left: var(--left-card);
    right: 0;
    transition: transform .4s ease;
    cursor: pointer;
}
section div.container {
    transform-style: preserve-3d;
}

section div.cards img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
#item-1:checked ~ .cards #img-3, #item-2:checked ~ .cards #img-4, #item-3:checked ~ .cards #img-5 , #item-4:checked ~ .cards #img-1 , #item-5:checked ~ .cards #img-2{
    transform: translatex(-60%) scale(.8);
    opacity: .4;
    z-index: 0;
}
#item-1:checked ~ .cards #img-4, #item-2:checked ~ .cards #img-5, #item-3:checked ~ .cards #img-1 , #item-4:checked ~ .cards #img-2, #item-5:checked ~ .cards #img-3{
    transform: translatex(60%) scale(.8);
    opacity: .4;
    z-index: 0;
}
#item-1:checked ~ .cards #img-2, #item-2:checked ~ .cards #img-3, #item-3:checked ~ .cards #img-4 , #item-4:checked ~ .cards #img-5, #item-5:checked ~ .cards #img-4{
    transform: translatex(0) scale(1);
    opacity: 0;
    z-index: 0;      
}
#item-1:checked ~ .cards #img-5, #item-2:checked ~ .cards #img-1, #item-3:checked ~ .cards #img-2, #item-4:checked ~ .cards #img-3, #item-5:checked ~ .cards #img-1 {
    transform: translatex(0) scale(1);
    opacity: 0;
    z-index: 0;      
}
#item-1:checked ~ .cards #img-1, #item-2:checked ~ .cards #img-2, #item-3:checked ~ .cards #img-3 , #item-4:checked ~ .cards #img-4,#item-5:checked ~ .cards #img-5  {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;     
}
section div.article2{
    position: absolute;
    text-align: center;
    left: var(--left-article);
    width: var(--width-article);
    top: var(--top-article);
}
section div.article2 h2{
    font-size: var(--font-text);
}
section div.article2 span{
    color: #D8E9A8;
}
section div.article2 li{
    font-size: var(--font-text);
    text-align: justify;
    margin: var(--margin-li); 
}

section.quem-somos p, p span, span.dark-green {
    font-size: var(--font-text);
}

section.quem-somos p {
    text-transform: uppercase;
    text-align: start;
}

section.quem-somos p span.dark-green {
    color: #4E9F3D;
    
}

section.quem-somos p span {
    color: #D8E9A8;
}

section.contatos ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

section.contatos ul a {
    text-decoration: none;
    font-size: var(--font-text);
    transition: 0.5s;
}

section.contatos ul a:hover {
    color: #D8E9A8;
}

footer {
    background-color: #191A19;
    margin-top: var(--margin-footer);
    padding: var(--padding-footer) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #616161;
    font-size: var(--font-footer);
}

footer a {
    color: #D8E9A8;
    text-decoration: none;
    transition: 0.5s;
    font-size: var(--font-text);
}

footer a:hover {
    color: #FFF;
}


